.app-sub-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--basic {
    color: var(--shadows-A500);
  }

  &--primary {
    color: var(--primary-A400);
  }
}
